DataBenchmarkObjc.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/DataBenchmarkObjc.xcscheme
DataBenchmarkObjc.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/xcschememanagement.plist
DataBenchmarkObjc.xcodeproj/xcuserdata/Rumata.xcuserdatad/xcschemes/DataBenchmarkObjcTests.xcscheme
DataBenchmarkObjc.xcodeproj/xcuserdata/Rumata.xcuserdatad/xcschemes/TestTarget.xcscheme
